.map {
    margin-top: 100px;
    @media (max-width: 568px) {
        margin-top: 0;
    }
    &__title {
        padding-bottom: 30px;
        color: #4D4D4D;
        font-style: italic;
        font-size: 52px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        @media (max-width: 568px) {
            font-size: 35px;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: nowrap;
        @media (max-width: 568px) {
            flex-direction: column;
        }
    }
    &__tabs {
        padding-top: 50px;
        width: 30%; 
        @media (max-width: 568px) {
            width: 100%;
        }

    }
    &__frames {
        width: 70%;
        @media (max-width: 568px) {
            width: 100%;
        }
    }
    &__iframe {
        display: none;
        width: 100%;
        border: none;
        height: 100%;
        &.active {
            display: block;
        }
        @media (max-width: 568px) {
            height: 300px;
        }
    }
    &__item {
        width: 95%;
        box-sizing: border-box;
        padding: 0 30px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        display: flex;
        margin-bottom: 50px;
        border-radius: 25px;
        height: 50px;
        box-shadow: inset 1px 0px 9px #00000040;
    }
}