.rangeslider__value-bubble {
    position: absolute;
    text-align: center;
    width: 300px;
    display: block;
    top: 20px;
    left: 0 !important;
    @media (max-width: 568px) {
        margin-top: 5px;
        text-shadow: -2px 1px #000;
    }
}
.rangeslider--horizontal {
    @media (max-width: 568px) {
        margin-top: 5px;
    }

}