@font-face {
    font-family: 'Gotich Regular';
    src: url('../fonts/GOTHIC.TTF');
    src: url('../fonts/GOTHIC.TTF') format('ttf'), url('../fonts/GOTHIC.TTF') format('woff'), url('../fonts/GOTHIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotich Bold';
    src: url('../fonts/GOTHICB.TTF');
    src: url('../fonts/GOTHICB.TTF') format('ttf'), url('../fonts/GOTHICB.TTF') format('woff'), url('../fonts/GOTHICB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}